<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="leo">

  <xacro:arg name="mecanum_wheels" default="false"/>
  <!-- <xacro:arg name="d455_camera" default="true"/> -->
  <xacro:arg name="zed2_camera" default="false"/>
  <xacro:arg name="zed2_camera_model" default="true"/>
  <xacro:arg name="optitrack_marker_link" default="true"/>
  <xacro:arg name="livox_hap_model" default="true"/>


  <xacro:include filename="$(find leo_description)/urdf/macros.xacro"/>
  <!-- <xacro:include filename="$(find leo_description)/urdf/mast.xacro"/> -->
  <!-- <xacro:include filename="$(find leo_description)/urdf/ld06_lidar_mount.urdf.xacro"/> -->
  <!-- <xacro:include filename="$(find leo_description)/urdf/xavier_mount.xacro"/> -->
  <xacro:include filename="$(find leo_description)/urdf/leorover_backpack.xacro"/>
  <xacro:include filename="$(find leo_description)/urdf/leorover_frontpack.xacro"/>


  <xacro:leo mecanum_wheels="$(arg mecanum_wheels)"/>
  <!-- <xacro:ld06_lidar_module/> -->
  <!-- <xacro:leo_mast/> -->
  <!-- <xacro:xavier_mount/> -->
  <xacro:leorover_backpack/>
  <xacro:leorover_frontpack/>

</robot>