<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="leorover_backpack" 
               params="link_prefix:=''
                       joint_prefix:=''">
 <link name="${link_prefix}backpack_link">
        <inertial>
            <mass value="1.5"/>
            <inertia
            ixx="0.00905" ixy="0.0" ixz="0.0"
            iyy="0.00545"  iyz="0.0"
            izz="0.00850"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://leo_description/models/model_extensions/leorover_backpack.dae"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.08"/>
            <geometry>
                <box size="0.14 0.22 0.155"/>
            </geometry>
        </collision>
    </link>

    <joint name="${joint_prefix}leorover_backpack_joint" type="fixed">
        <origin xyz="-0.09 0.0 0.0" rpy="0 0 0"/>
        <parent link="${link_prefix}base_link"/>
        <child link="${link_prefix}backpack_link"/>
    </joint>

  </xacro:macro>
</robot>